/***********************************************************************************************************************

	css/core-passage.css

	Copyright © 2013–2021 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

/*
	Default appearance styles.
*/
.passage {
	line-height: 1.75;
	text-align: left;
	-webkit-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	background:linear-gradient(to bottom right, #fffc, #fff4);
	padding: 15px;
	border-radius: 15px;
	margin: 10px 20px;
	color: black;
  }
  
  .passage-in {
	opacity: 0;
  }
  
  .passage ol,
  .passage ul {
	margin-left: 0.5em;
	padding-left: 1.5em;
  }
  
  .passage table {
	margin: 1em 0;
	border-collapse: collapse;
	font-size: 100%;
  }
  
  .passage caption,
  .passage td,
  .passage th,
  .passage tr {
	padding: 3px;
  }
  